<p class="lead">
  What follows is a live feed of public builds from
  <a href="https://travis-ci.org/recent">Travis CI</a>.
</p>

<ul>
  {{#each build in this itemController="build"}}
    <li>
      <span {{bind-attr class=":pull-right :label build.labelClass"}}>
        {{build.state}}
      </span>
      <p>
        {{build.commit.committerName}} pushed to
        {{build.commit.branch}} at
        <a {{bind-attr href=build.commit.compareURL}}>{{build.repository.slug}}</a>
      </p>
      <p class="small text-muted">
        <a {{bind-attr href=build.commit.compareURL}}>{{build.commit.shortSha}}</a>
        {{build.commit.message}}
      </p>
    </li>
  {{/each}}
</ul>
